body {
    background: url(geo-lines-bg.png);
    background-size: cover;
    background-color: #2E3192;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-nav a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
}
.top-nav a > img {
    height: 80px;
    width: auto;
    margin: 20px 20px 20px 50px;
}
.top-nav a > h3 {
    margin: 40px 0px 0px 0px;
    font-size: 30px;
}
.top-nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.top-nav > ul > li {
    border: 1px solid #3D60A7;
    border-radius: 10%;
    padding: 10px 20px;
    margin: 20px 10px;
}
.top-nav > ul > li:hover {
    background-color: #3D60A7;
}
main {
    display: grid;
    grid-template-columns: 30% 65%;
}
main > ul {
    list-style-type: none;
    line-height: 50px;
    padding-top: 40px;
    margin-left: 50px;
}
main > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
main > ul > li > a:hover {
    color: #3D60A7;
}
main > ul > li > a > span {
    color: #3D60A7;
    font-weight: bolder;
}
main > h1 {
    color: white;
    font-size: 80px;
}
p {
    margin: 15px 25px 0px 0px;
    float: right;
    color: white;
    text-align: right;
    font-size: 14px;
}
p > span {
    color: #3D60A7;
}
.article-container {
    position: absolute;
    bottom: 0px;
    margin: 40px auto 0px auto;
    
    width: 100%;
    text-align: center;
}
.article-container > section > article {
    width: 150px;
    border-left: 3px solid white;
    color: white;
}
.article-container > section {
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.article-container > section > article:hover {
    background-color: #F15A24;
}
/* login page  */
.login-container {
    width: 40%;
    /* border: 1.8px solid #3D60A7; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 80px auto 0px auto;
    background-color:  #3D60A7;
    padding: 12px;
    color: white;
    box-shadow: -7px 9px 7px 5px #000000;
}
.login-container > h1 {
    text-align: center;
    background-color: #F15A24;
    border-radius: 10px;
}
.login-container > form {
    font-size: 24px;
}
.login-container > form > input {
    border: 1px solid white;
    height: 22px;
    color: #F15A24;
}
.login-container > form > button {
    border-radius: 10px;
    font-size: 20px;
    background-color: #F15A24;
    color: white;
    border: 1px solid #F15A24;
}

